{{ if gt .Paginator.TotalPages 1 }}
  <ul class="pagination__list">
    {{ $.Scratch.Set "hasPrevDots" false }}
    {{ $.Scratch.Set "hasNextDots" false }}
    {{ if .Paginator.HasPrev }}
      <li class="pagination__list-item">
        <a class="page-link" href="{{ .Paginator.Prev.URL }}" aria-label="Previous page">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      </li>
    {{ end }}
    {{ range .Paginator.Pagers }}
      {{ if eq . $.Paginator }}
        <li class="pagination__list-item">
          <span class="page-link current" aria-current="page">
            {{- .PageNumber -}}
          </span>
        </li>
      {{ else if or (or (eq . $.Paginator.First) (eq . $.Paginator.Prev)) (or  (eq . $.Paginator.Next) (eq . $.Paginator.Last )) }}
        <li class="pagination__list-item">
          <a class="page-link" href="{{ .URL }}" aria-label="Page {{ .PageNumber }}">
            {{- .PageNumber -}}
          </a>
        </li>
      {{ else }}
        {{ if and (not ($.Scratch.Get "hasPrevDots")) (lt .PageNumber $.Paginator.PageNumber) }}
          {{ $.Scratch.Set "hasPrevDots" true }}
          <li class="pagination__list-item">
            <span class="page-link dots" aria-hidden="true">&hellip;</span>
          </li>
        {{ else if and (not ($.Scratch.Get "hasNextDots")) (gt .PageNumber $.Paginator.PageNumber) }}
          {{ $.Scratch.Set "hasNextDots" true }}
          <li class="pagination__list-item">
            <span class="page-link dots" aria-hidden="true">&hellip;</span>
          </li>
        {{ end }}

      {{ end }}

    {{ end }}
    {{ if .Paginator.HasNext }}
      <li class="pagination__list-item">
        <a class="page-link" href="{{ .Paginator.Next.URL }}" aria-label="Next page">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
